body {
  max-width: 320px;
  margin: auto;
  background: rgb(28, 28, 28);
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  background: rgb(67, 67, 67);
  color: #f6f6f6;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
}
.profile-picture {
  border-radius: 100%;
  width: 40px;
  height: 50px;
}

.message-date {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

.chatbox-container {
  margin: auto;
  background-color: #1d1d1b;
  color: #f6f6f6;
  font-family: 'Libre Franklin', sans-serif;
  max-width: 300px;
  box-shadow: 0px 2px 19px 0px #666;
}

.message-box {
  margin: 0px 20px 20px 20px;
  max-width: 65%;
}
.message-content {
  background-color: #666;
  border-radius: 20px 20px 20px 0;
  padding: 7px 15px;
  box-shadow: 0px 3px 10px 0px rgb(152, 152, 152);
}

.message-box-joe .message-content {
  display: flex;
  background-color: #b8d344;
  border-radius: 20px 20px 0 20px;
  box-shadow: 0px 3px 10px 0px #d5ec6f;
  justify-content: end;
}

.message-box-joe {
align-items: flex-end;}

footer {
  display: flex;
  background-color: #666;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  padding: 15px;
}