body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  background: #666;
  color: #f6f6f6;
}

.profile-picture {
  border-radius: 30px;
  width: 50px;
  height: 50px;
}