body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  background: #666;
  color: #f6f6f6;
  position: sticky;
}

.profile-picture {
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.chatbox-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #1d1d1b;
  color: #f6f6f6;
  max-width: 300px;
  align-items: left;
}

.message-content {
  background-color: #666;
  border-radius: 20px 20px 20px 0;
}

.message-box-joe .message-content {
  background-color: #b8d344;
  border-radius: 20px 20px 0 20px;
}

.message-box-joe {
  align-self: flex-end;
}